.header {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: var(--color-black);
}

.nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav ul li a {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-white);

    text-decoration: none;
}

#logo {
    width: 178px;
    height: auto;
}